.swiper {
  width: 100%;
  height: 100%;
}

.swiper-wrapper {
  box-sizing: border-box;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-pagination {
  line-height: 1;
}
.image-slider__slide:hover{

  box-shadow:3px 5px 10px -7px ;
	transform: scale(1.02);
	transition: transform 200ms;
  cursor: pointer;
}
.swiper-pagination-bullet {
  width: 1.2rem;
  height: 1.2rem;
  background: #dddddd;
  opacity: 1;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #b5b6bc;
}
